.body{
    background-color: violet;
}

.reserva{
    display: table;
        background-color: rgb(240, 183, 183);
        font-family: fantasy
}

.lista{
    font-style: oblique;
}
.importante{display: table;
    background-color: rgb(240, 183, 183);
    font-family: fantasy
    
}
.confirmar{
    font-style: italic;}

    .turnos{
        font-style: italic;
    }
